/* 这个文件放css代码 */
/* 选择器 { CSS属性  } */
p{
  color:red;
  font: size 50px;
}
strong{
  color:darkorange;
  font-size: 100px;
}
#div{
  color: aliceblue;
}
.bg{
  background-color: pink;
  background-repeat:no-repeat;
  background-attachment: fixed;
}